$colors: (
  gray_700: #333,
  gray_600: #454545,
  gray_500: #777777,
  gray_300: #999,
  gray_200: #eee,
  gray_100: #fafafa,
  red_500: #f90000,
);

$font-size: (
  sm: 12px,
  md: 14px,
  lg: 16px,
  xl: 20px,
  xxl: 24px,
);
