@import "../../sass/variables.scss";

.bannerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: map-get($colors, gray_600);
  height: 300px;

  > .bannerText h1,
  p {
    color: map-get($colors, gray_100);
  }

  > .bannerText h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
  }
}
