@import "../../sass/variables.scss";

.ProductPageBanner {
  width: 100%;
  background-color: map-get($colors, gray_700);
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  > h3 {
    color: map-get($colors, gray_200);
    font-size: map-get($font-size, md);
    font-weight: 400;
  }
}
